.page {
  background-color: #ffff;
  min-width: 1100px;
  max-width: 1600px;
  margin: auto;
  font-family: Arial, sans-serif;
  font-size: 16px;
  line-height: 20px;
}

.header {
  display: flex;
  flex-direction: column;
  height: 100vh;
  min-height: 720px;
  max-height: 800px;
  padding: 30px 80px 40px;
  position: relative;
}

.nav {
  height: 80px;
  display: flex;
  justify-content: space-between;
}

.nav__logo {
  width: 58px;
  height: 80px;
}

.nav__links {
  list-style: none;
  font-size: 10px;
  height: 20px;
  max-width: 636px;
  column-gap: 20px;
  display: flex;
  justify-content: space-around;
  padding: o;
  margin: 8px 0 0;
}

.nav__link {
  color: #000000;
  text-decoration: none;
  font-weight: bold;
}

.header__content {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.header__title {
  font-size: 62px;
  font-weight: 500;
  max-width: 635px;
  line-height: 76px;
  margin-top: 128px;
}

.header__description {
  line-height: 30px;
  font-size: 20px;
  font-weight: 30px;
  max-width: 515px;
  margin-top: 32px;
}

.header__image {
  margin: 0;
  max-width: 636px;
  position: absolute;
  align-self: self-end;
}

.header__footer {
  margin-top: auto;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  box-sizing: border-box;
}

.header__link {
  color: #2f80ed;
  text-decoration: none;
}

.header__address {
  margin: 0;
  color: #838383;
}
.staff__title {
  color: #ffff;
  text-align: center;
  font-size: 44px;
  line-height: 52px;
  font-weight: 400;
  margin: 0 0 24px;
}
.staff__subtitle {
  text-align: center;
  font-size: 20px;
  line-height: 30px;
  font-weight: 400;
  margin: 0;
  color: #ffffff;
}
.staff__cards {
  height: 760px;

  max-width: 860px;
  display: flex;
  flex-wrap: wrap;
  margin: auto;
  list-style: none;
  justify-content: space-between;
  gap: 40;
  padding: 0;
}

.card {
  margin-top: 68px;
  background-color: white;
  height: 360px;
  width: 420px;
  max-width: 420px;
  border-radius: 6px;
  padding: 32px 40px 20px 32px;
  box-sizing: border-box;
}
.card__title {
  text-align: center;
}
.card__text {
  padding-top: 20px;
}
.card__footer {
  color: #838383;
  margin-top: auto;
  justify-content: flex-end;
}
.staff {
  background-image: url(/images/staff_picks_background.jpg);
  padding: 100px 0 140px;
}
